
.custom{
    background-image: url('../../screen_shot.jpg');
    min-height: 3000px;
    width: 100%;
    background-size: cover;
}

.wrap {
  align-items: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: rgb(248 240 240);
  font-size: 16px;
  font-weight: bold;
}

.button {
  min-width: 200px;
  min-height: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #ffffff;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  text-align: center;
  }

.button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(200px + 12px);
  min-height: calc(40px + 12px);
  border: 2px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before, .button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after, .button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.top-header{
    font-size: 14px;
    font-weight: 600;
    color:#000;
}
.top-header img{
    height: 10px;
    margin-right: 10px;
    position: relative;
    top: -3px;
}
.navbar-brand>.logo{
font-size: 25px;
}
.navbar-brand>.logo>.first-half{
    color:#4E93B0;
}
.navbar-brand>.logo>.second-half{
    color: #70BCAF;
    font-weight: 600;
}
.banner{
    background-image: url('../images/banner_bg.jpg');
    background-size: cover;
    min-height: 350px;
    width: 100%;
    color: #3998D3;
}
.banner>.banner-text{
    font-size: 30px;
    padding: 100px;
    font-weight: bold;
}

.bannerbottom{
    background-color: #F5F9FA;
    background-image: url('../images/bottom_banner_bg.png');
    background-size: cover;
    min-height: 350px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
}
.bannerbottom>.header>.heading{
    color:#389ACB;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.bannerbottom>.header>.sub-heading{
    color:#000;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: -15px;
}
.bannerbottom>.description{
    color:#979B9C;
    text-align: center;
    padding: 25px;
}


.grid{
    padding: 0px 12px;
}
.grid.three-col>div{
    min-height: 300px;
}
.grid.four-col>div{
    min-height: 150px;
}
.grid.three-col>div{
    color: #fff;
    padding: 30px;
}
.grid.three-col>div>.icon{
    text-align: center;
}
.grid.three-col>div>.icon>img{
        height: 50px;
}
.grid.three-col>div>.heading{
    text-align: center;
    font-size: 25px;
    margin: 15px 0;
    font-weight: 600;
}
.grid>div:nth-child(1){
background-color:#3999C9;
}
.grid>div:nth-child(2){
    background-color: #FF5B4F;
}
.grid>div:nth-child(3){
    background-color:#8FCEC5; 
}
.grid.four-col>div:nth-child(even){
background-color:#F6F6F6; 
}
.grid.four-col>div:nth-child(odd){
     background-color: #EBEBEB;
}
.grid.four-col>div{
    text-align: center;
    padding: 20px;
    font-weight: 500;
}
.grid.four-col>div>.icon{
    margin-bottom: 20px;
}
.grid.four-col>div>.icon>img{
    height: 40px;
}

.custom-imp-msg{
    text-align: center;
    padding: 40px 20px;
    font-size: 30px;
}
.custom-imp-msg>.heading{
     font-size: 50px;
     font-weight: bold;
}

.footer{
    background-color: #F4F8F9;
    text-align: center;
    color: #000;
    padding: 20px;
    margin-top: 20px;
}
.footer>.social-media{
    margin-bottom: 30px;
}
.footer>.social-media>.head{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer>.social-media>.social-icons>ul{
    list-style: none;
     display: flex;
    justify-content: center;
}
.footer>.social-media>.social-icons>ul>li{
    margin-right: 30px;
    cursor: pointer;
}
.footer>.social-media>.social-icons>ul>li img{
    height: 30px;
}
.footer>.copyright{
    font-size: 18px;
    font-weight: 600;
}
.footer>.copyright>.description{
    font-size: 25px;
}


/* Contact us */
.contact-container{
    display: flex;
    padding: 45px 0;
    justify-content: space-between;
}
.contact-container>.address-block>ul{
    list-style: none;
    padding: 0;
    padding-top: 30px;
}
.contact-container>.address-block>ul>li{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

.contact-container>.address-block>ul>li>img{
    height: 13px;
    margin-right: 20px;
}
.contact-container>.address-block>ul>li:nth-child(1)>img{
      height: 20px;
}
.contact-container>.address-block>ul>li:nth-child(2)>img{
      height: 17px;
}


/* survey form */
.survey-container{
    display: flex;
    justify-content: flex-end;
    padding: 40px 0;
}
/* override css */

.navbar-collapse {
    flex-grow: initial;
}
.navbar-nav .nav-link{
    text-transform: uppercase;
}

.bg-light {
    background-color: #f4f8f9 !important;
}